<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>About Us</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dream Escape</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <a target="templates/services.html" href="services">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contactus">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>FAQs</h1>
        <br>
        <h2>What services do you offer?</h2>
        <p>Dream Escape offers a wide range of services, including flight bookings, hotel reservations, tour packages, travel insurance, visa assistance, and more. We can help you plan and book a customized trip that meets your travel needs and preferences. </p>
        <br> 
        <h2>How can I book a trip with your agency?</h2>
        <p>You can book a trip with our agency by visiting our website and browsing through our available packages or by contacting one of our experience experts directly.</p>
        <br>
        <h2>What is your cancellation policy</h2>
        <p>Our cancellation policy varies depending on the type of booking and package you choose. We always recommend reviewing the specific cancellation terms and conditions for your booking, which will be outlined in the booking confirmation and contract. In general, cancellations made within a certain time frame of the departure date may incur fees or penalties</p>
      </div>
    </div>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>