<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"">
  <title>replit</title>
  <link href="../static/style.css" rel="stylesheet" type="text/css" />
  <!--bootstrap additions -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
  

</head>

<body>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
  <header>
    <img src="../static/images/logo.png" alt="image description" class="logo">
    <nav>
  <ul>
    <li>
<a target="../templates/index.html" href="/"> 
        <img src="../static/images/home.png" alt="Navigation Item 1" class="icon">
      HOME
  </a>
    </li>
    <li>
<a target="../templates/about.html" href="about">             <img src="../static/images/about.png" alt="Navigation Item 2" class="icon">
        ABOUT
      </a>
    </li>
    <li>
 <a target="../templates/services.html" href="services">             <img src="../static/images/servies.png" alt="Navigation Item 3" class="icon">
        SERVICES
     
      </a>
    </li>

     <li>
       
 <a target="../templates/currency.html" href="currency">       
        <img src="../static/images/currency.png" alt="Navigation Item 4" class="icon">
        Currency
      </a>
    </li>
    
   <li>
 <a target="../templates/login.html" href="login">       
        Login
         
      </a>
    </li>

    <li>
  <a target="../templates/countries.html" href="countries">
      Country Rankings
         
      </a>
    </li>


		
		
  </ul>
</nav>
  </header>

<div class="bg-image" id="bg-image">
</div>
  <div class="container"> 
  <h1 class='header'>Welcome to Dream Escape</h1>
    
    <p>Welcome to our travel agency website, where we're dedicated to helping you plan the trip of a lifetime. Our team of expert travel advisors is here to guide you through every step of the process, from choosing your destination to booking your flights, accommodations, and activities.
At our travel agency, we believe that travel should be accessible to everyone, which is why we offer a wide range of destinations, activities, and budgets to choose from. Whether you're looking for a luxurious escape or an adventure-packed getaway, we have something for you.
<br><br>
We pride ourselves on providing exceptional customer service, and our travel advisors are available to answer any questions you may have about your trip. We'll work closely with you to ensure that every aspect of your journey is planned to perfection.

Our website features a user-friendly interface that allows you to search for flights, hotels, and activities based on your preferences and budget. You can also browse our curated collections of destinations and itineraries to find inspiration for your next trip.

We understand that planning a trip can be overwhelming, which is why we're committed to making the process as stress-free as possible. So sit back, relax, and let us help you plan the trip of your dreams. Thank you for choosing our travel agency, and we look forward to working with you!</p>
      <br><br>

     <h2>Top Experiences on Dream Escape</h2>
  <p1>Discover the best activities, architecture, and culture </p1>
  </div>

  
  
<!-- Columns of convincing points -->
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>Best Locations</h3>
      <p>We offer the best deals to the most popular and well known attactions. </p>
      <p>From Asia to South America, visit any location at any time.</p>
    </div>
    <div class="col">
      <h3>Global Network</h3>
      <p>With headquarters set in over 50 countries, you will always be a phone call or message away.</p>
      <p>We offer tourism, security, translators and other additional serveices wherever you go. </p>
    </div>
    <div class="col">
      <h3>Endless possiblities</h3>        
      <p>Let us help you make your dream vacation come true.</p>
      <p>With additional planning services, we can work with you to create the most ideal vacation plan in your way.</p>
    </div>
  </div>
</div>
  

<!-- image gallery -->
<h1 class='header'>Top 5 Locations</h1>
<div class="responsive">
  <div class="gallery">
    <a target="../templates/turkey.html" href="turkey">
      <img src="../static/images/turkey2.jpeg" alt="Turkey" width="600" height="400">
    </a>
    <strong>
      <div class="desc">Turkey</div>
    </strong>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="japan">
      <img src="../static/images/japan.jpeg" alt="Japan" width="600" height="400">
    </a>
    <strong>
      <div class="desc">Japan</div>
    </strong>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="colombia">
      <img src="../static/images/colombia.png" alt="Colombia" width="600" height="400">
    </a>
    <strong>
      <div class="desc">Colombia</div>
    </strong>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a target="_blank" href="southafrica">
      <img src="../static/images/southafrica.png" alt="South Africa" width="600" height="400">
    </a>
    <strong>
      <div class="desc">South Africa</div>
    </strong>
  </div>
</div>

  <div class="responsive">
  <div class="gallery">
    <a target="_blank" href="spain">
      <img src="../static/images/spain.png" alt="Spain" width="600" height="400">
    </a>
    <strong>
      <div class="desc">Spain</div>
    </strong>
  </div>
</div>

  <br><br><br><br><br><br>

<!--
<div class="footer">
<p>Footer Test</p>
  <br><br><br><br><br>
</div>
-->
<br><Br>
  <!-- Add font awesome icons -->
<a href="#" class="fa fa-facebook"></a>
<a href="#" class="fa fa-twitter"></a>
<a href="#" class="fa fa-google"></a>
<a href="#" class="fa fa-linkedin"></a>
<a href="#" class="fa fa-youtube"></a>
<a href="#" class="fa fa-instagram"></a>
<a href="#" class="fa fa-pinterest"></a>

<div class="clearfix"></div>

  <script src="script.js"></script>
  

  <script src="https://replit.com/public/js/replit-badge-v2.js" theme="dark" position="bottom-right"></script>
  
</body>
</html>