{% extends "country_layout.html" %}

{% block body %}

 <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Dream Escape</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <a target="templates/services.html" href="services">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="services">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="contactus">Contact</a>
        </li>
      </ul>
    </div>
  </nav>

<header>
    <div class="video-container">
      <video autoplay loop muted src="../static/japan_pics/japanvid.mp4" class="background-video"></video>
      <h1 class="video-title">Welcome to Japan</h1>
    </div>

  </header>

  <br> <br>

  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">


      </div>

      <div class="main">
      <h2>People say Japan is a {{ score }}/10</h2>

        <hr>

        <h2>ようこそ</h2>
        <p>Find the greatest attraction only found in Japan</p>

        <!-- Portfolio Gallery Grid -->
        <div class="row">
          <div class="column">
            <div class="content">
              <img src="../static/japan_pics/japan1.jpg" alt="Mountains" style="width:100%"><br><Br>
              <h3>Japanese Cherry Blossoms </h3>
              <p> Japanese cherry blossom, also known as sakura, is a beloved symbol of spring in Japan and around the world. The cherry blossom is the flower of several different species of the Prunus tree, with the most well-known being the Japanese cherry, or Prunus serrulata.</p>
            </div>
          </div>
          <div class="column">
            <div class="content">
              <img src="../static/japan_pics/japan2.jpg" alt="Lights" style="width:100%"><br><Br>
              <h3>City Life</h3>
              <p>Japanese city life is a unique and vibrant experience that offers a fascinating blend of traditional culture and modern innovation. With its bustling streets, vibrant neighborhoods, and cutting-edge technology, Japan's cities are among the most exciting in the world.

</p>
            </div>
          </div>
          <div class="column">
            <div class="content">
              <img src="../static/japan_pics/japan3.jpg" alt="Nature" style="width:100%"><br><Br>
              <h3>Garden Walks</h3>
              <p>Garden walks in Japan are a magical and serene experience that allow visitors to immerse themselves in the natural beauty and tranquility of the country's lush landscapes. Japan is known for its stunning gardens, which are designed to reflect the principles of traditional Japanese aesthetics and philosophy.</p>
            </div>
          </div>
          <div class="column">
            <div class="content">
              <img src="../static/japan_pics/japan4.jpg" alt="Mountains" style="width:100%"> <br><Br>
              <h3>Japanesse Cuisine</h3>
              <p>Japanese cuisine is one of the most distinctive and beloved cuisines in the world, known for its emphasis on fresh, high-quality ingredients, exquisite presentation, and meticulous attention to detail. Japanese cuisine is influenced by a variety of factors, including the country's geography, climate, and cultural traditions.</p>
            </div>
          </div>
          <!-- END GRID -->
        </div>

        <div class="content">
          <img src="../static/japan_pics/japan5.jpg" alt="Bear" style="width:100%">
          <br>
          <br>
        
          <h2>Anime in Japan</h2>
          <br>
          <p>For many Japanese people, anime is not just entertainment, but also a reflection of their national identity and cultural values. Anime often explores themes of friendship, perseverance, and overcoming adversity, which are highly valued in Japanese society. Additionally, anime has become a means for Japanese creators to express themselves artistically and to showcase their unique storytelling and animation styles.

In recent years, anime has also become a significant economic force in Japan. The anime industry generates billions of dollars in revenue each year, with anime-related merchandise such as toys, games, and clothing being highly popular both domestically and internationally. This has led to the growth of anime-related events and tourism, with fans traveling from around the world to attend anime conventions and visit anime-related attractions in Japan.</p>
          
        </div>

        <!-- END MAIN -->
      </div>

      <hr class="d-sm-none">
    </div>
    <div class="col-sm-8">
      <h2>Hot Springs </h2>
      <h5>Japans most relaxing tourist attraction</h5>
      <div class="img1">
        <img src="../static/japan_pics/japan6.jpg" alt="Your image description" style="width: 600px; height: auto;">
      </div>

      <br>
      <p>Japanese hot springs, also known as onsen, are natural hot water baths that are a popular attraction for locals and visitors alike in Japan. These hot springs are found throughout the country and are known for their therapeutic benefits as well as their cultural significance.
      </p>
      <br>
      <h2>Tokyo </h2>
  
      <div class="img1">
        <img src="../static/japan_pics/japan7.jpg" alt="Your image description" style="width: 600px; height: auto;">
      </div>
      <br>
      <p>Tokyo is known for its unique blend of traditional Japanese culture and modern, cutting-edge technology. The city is a hub for business, finance, and technology, and is also a major center for fashion, art, and entertainment.


      </p>
      <br>
      <h2> Street Racing </h2>
      <div class="img1">
        <img src="../static/japan_pics/japan8.jpg" alt="Your image description" style="width: 600px; height: auto;">
      </div>
      <br>
      <p>Street racing, also known as "hashiriya" in Japan, has a long history in Japanese car culture. Although illegal, street racing has been a popular activity for many young car enthusiasts in Japan since the 1970s.

The Japanese street racing scene gained international attention in the 1990s with the release of popular movies and video games such as "The Fast and the Furious" and "Need for Speed," which featured Japanese cars and culture prominently
      </p>
    </div>
  </div>
  </div>

  <div class="main">


    <hr>

    <h2>Pictures Sent to Us</h2>

    <div id="myBtnContainer">
      <button class="btn active" onclick="filterSelection('all')"> Show all</button>
      <button class="btn" onclick="filterSelection('nature')"> Nature</button>
      <button class="btn" onclick="filterSelection('food')"> Food</button>
      <button class="btn" onclick="filterSelection('history')"> History</button>
    </div>



    <!-- Portfolio Gallery Grid -->
    <div class="rows">
      <div class="columns nature">
        <div class="contents">
          <img src="../static/japan_pics/japan9.jpg" alt="Mountains" style="width:100%">
         
        </div>
      </div>
      <div class="columns nature">
        <div class="contents">
          <img src="../static/japan_pics/japan10.jpg" alt="Lights" style="width:100%">
 
        </div>
      </div>
      <div class="columns nature">
        <div class="contents">
          <img src="../static/japan_pics/japan11.jpg" alt="Nature" style="width:100%">
  
        </div>
      </div>

      <div class="columns food">
        <div class="contents">
          <img src="../static/japan_pics/japan12.jpg" alt="Food" style="width:100%">
  
        </div>
      </div>
      <div class="columns food">
        <div class="contents">
          <img src="../static/japan_pics/japan12.jpg" alt="Food" style="width:100%">
    
        </div>
      </div>
      <div class="columns food">
        <div class="contents">
          <img src="../static/japan_pics/japan14.jpg" alt="Food" style="width:100%">
     
        </div>
      </div>

      <div class="columns history">
        <div class="contents">
          <img src="../static/japan_pics/japan15.jpg" alt="History" style="width:100%">
      
        </div>
      </div>
      <div class="columns history">
        <div class="contents">
          <img src="../static/japan_pics/japan16.jpg" alt="History" style="width:100%">

        </div>
      </div>
      <div class="columns history">
        <div class="contents">
          <img src="../static/japan_pics/japan17.jpg" alt="History" style="width:100%">
  
        </div>
      </div>
      <!-- END GRID -->
    </div>

 <br><br><br>

<form class="form" action="/japan_review" method ="post">
  
  <h2>Leave a review!</h2>
  <label for="name">Name:</label><br>
  <input type="text" name="name" id="name" required /><br>
  <label for="score">Score:</label><br>
  <input type="number" name="score" id="score" min="1" max="10" required /><br><br>
  <textarea type="text" name="review" id="review" cols="100" placeholder="Enter your review here!"></textarea><br>
  <input class="button" type="submit" value="Submit" />
  
</form>

      <!--How to display reviews-->
  <br><h1>Reviews</h1>

      {% for result in results %}
          <br>
          <strong>Name:</strong> {{ result[0] }}<br>
          <strong>Score:</strong> {{ result[1] }}<br>
          <strong>Review:</strong> {{ result[2] }}<br>
          <br><hr>

      {% endfor %}


{% endblock %}
